body{
    margin-top: 10%;
    margin-left: 40%;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}
h1{
    margin-left: 6%;
}

div button{
margin-top: 6%;
margin-left: 6%;
    width: 150px;
    height: 30px;

}

div input{
margin-top: 2%;
    width: 250px;
    height: 20px;
    border: solid, transparent;

}
